ion-tab-bar {
    --background: #006bbb;
}

ion-tab-button {
    --color: white;
}

@font-face {
    font-family: 'MiLanting';
    src: url(/assets/milantingpro.ttf);
}
  
@font-face {
    font-family: 'Roboto';
    src: url(/assets/roboto.ttf);
}

@font-face {
    font-family: 'GoogleSansMedium';
    src: url(/assets/googlesansmedium.ttf);
}