ion-content ion-toolbar {
   --background: translucent;
}
    
ion-toolbar {
    --background: #006bbb;
}
    
ion-content {
    --background: #f5f5f5;
    font-family: 'MiLanting';
}
   
@font-face {
    font-family: 'MiLanting';
    src: url(/assets/milantingpro.ttf);
}

ion-title {
    font-family: 'MiLanting';
    color: white;
}

img {
    width: 75%;
    height: 75%;
}

p {
    font-size: medium;
}

ol {
    text-align: left;
}