<ion-header mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/tabs/tab2" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white; font-family: 'MiLanting';">Update Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <br>

  <!-- Edit Graphic -->
  <div class="container">
    <div class="col s12 m7">
      <div class="card" style="border-radius: 8px;">
        <div class="card-content">
          <img src="/assets/edit-undraw.png ">
        </div>
      </div>
    </div>
  </div>
    
  <!-- Update Profile Form -->
  <div class="container">
    <div class="col s12">
      <div class="card" style="border-radius: 8px;">
        <div class="card-content center-align">
          <div class="container">
            <form class="col s12" [formGroup] = "updateForm" novalidate>
  
                <p id="userid" hidden></p>

                <!-- Last Name Input Field -->
                <input formControlName="lastname" [(ngModel)]="inputValue" id="lname" type="text" class="validate">
                <label style="font-size: medium;" for="lname">Last Name</label>
                <span style="color: crimson;" class="error ion-padding" *ngIf="isSubmitted && errorControl.lastname.errors?.minlength"><b>Last name should be at least 2 characters long.</b></span>
                <span style="color: crimson;" class="error ion-padding" *ngIf="isSubmitted && errorControl.lastname.errors?.required"><b>You cannot delete your last name.</b></span>

                <!-- First Name Input Field -->
                <input formControlName="firstname" [(ngModel)]="inputValue2" id="fname" type="text" class="validate">
                <label style="font-size: medium;" for="fname">First Name</label>
                <span style="color: crimson;" class="error ion-padding" *ngIf="isSubmitted && errorControl.firstname.errors?.minlength"><b>First name should be at least 2 characters long.</b></span>
                <span style="color: crimson;" class="error ion-padding" *ngIf="isSubmitted && errorControl.firstname.errors?.required"><b>You cannot delete your first name.</b></span>

                <!-- Email Address Input Field -->
                <input formControlName="emailaddress" [(ngModel)]="inputValue3" id="email" type="email" class="validate">
                <label style="font-size: medium;" for="email">Email Address</label>
                <span style="color: crimson;" class="error ion-padding" *ngIf="isSubmitted && errorControl.emailaddress.errors?.pattern"><b>Please provide a valid email address.</b></span>
                <span style="color: crimson;" class="error ion-padding" *ngIf="isSubmitted && errorControl.emailaddress.errors?.required"><b>You cannot delete your email address.</b></span>

                <!-- Contact Number Input Field -->
                <input formControlName="contactNum" [(ngModel)]="inputValue4" id="contactNum" type="text" maxLength="11" class="validate">
                <label style="font-size: medium;" for="contactNum">Contact Number</label>
                <span style="color: crimson;" class="error ion-padding" *ngIf="isSubmitted && errorControl.contactNum.errors?.pattern"><b>Please provide numerical values only.</b></span>
                <span style="color: crimson;" class="error ion-padding" *ngIf="isSubmitted && errorControl.contactNum.errors?.minlength"><b>Contact number should be 11 numbers long.</b></span>
                <span style="color: crimson;" class="error ion-padding" *ngIf="isSubmitted && errorControl.contactNum.errors?.required"><b>You cannot delete your contact number.</b></span>
    
                <!-- Password Input Field -->
                <input formControlName="passWord" [(ngModel)]="inputValue6" id="passWord" type="{{type}}" class="validate" autocomplete="on">
                <label style="font-size: medium;" for="passWord">Password</label>
                <span style="color: crimson;" class="error ion-padding" *ngIf="isSubmitted && errorControl.passWord.errors?.minlength"><b>Password should be at least 8 characters long.</b></span>
                <span style="color: crimson;" class="error ion-padding" *ngIf="isSubmitted && errorControl.passWord.errors?.required"><b>You need a password to continue accessing some features of WeCater.</b></span>

                <!-- Show Password Button and Save Changes Button -->
                <a *ngIf="!showPass" class="btn-block blueBtn center-align" (click)="showPassword()" style="margin-top: 10px;">Show Password <ion-icon name="eye" style="margin-left: 3px; font-size: x-large; vertical-align: -6px;"></ion-icon></a>
                <a *ngIf="showPass" class="btn-block blueBtn center-align" (click)="showPassword()" style="margin-top: 10px;">Hide Password <ion-icon name="eye-off" style="margin-left: 3px; font-size: x-large; vertical-align: -6px;"></ion-icon></a>
                <a class="btn-block blueBtn center-align" type="submit" style="margin-top: 10px;" (click)="updateProfile();">Save Changes</a>

            </form>
          </div>
        </div>
      </div>
    </div>
</div>
</ion-content>
